.formCreation, .updateCreation, .delete_Form {
    z-index: 1111;
    position: absolute;
    top: 0;
    background-color: rgba(100, 100, 100, 0.534);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

#loginContainer {
    background-color: rgba(160, 157, 157, 0.534);
}
